.cards {
  display: flex;
  align-items: flex-start;
	flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  color: #314e52;
  flex-basis: 250px;
	flex-grow: 1;
	margin: 30px;
  background: #e7e6e1;
  padding: 30px;
  border-radius: 4px;
  border: 1px solid #e7e6e1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-weight: 400;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.card:hover{
  box-shadow: #f7f6e7 0px 3px 8px;
}
